version: '3.8'

services:
  db:
    image: postgres:15-alpine
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}      # Agora usa DB_USER (gsd)
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - PGPORT=${DB_PORT}
    ports:
      - "5434:5434"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 5s
      timeout: 5s
      retries: 5

  web:
    build:
      context: .
      #args:
        #http_proxy: http://19143033776:Recruta24.@10.52.132.240:8080
        #https_proxy: http://19143033776:Recruta24.@10.52.132.240:8080
    restart: always
    volumes:
      - static_volume:/app/staticfiles
      - ./media:/app/media
      - .:/app 
      - /var/run/docker.sock:/var/run/docker.sock
      - ./logs:/app/logs
      - /home/admin-gsd/logs:/logs_do_host
    environment:
      - SECRET_KEY=${SECRET_KEY}
      - DEBUG=${DEBUG}
      - ALLOWED_HOSTS=${ALLOWED_HOSTS}
      - NAME=${DB_NAME}
      - USER=${DB_USER}          # O Django receberá USER=gsd
      - PASSWORD=${DB_PASSWORD}
      - HOST=${DB_HOST}
      - PORT=${DB_PORT}
      - DATABASE=postgres
      # Variáveis de Proxy
      #- http_proxy=${http_proxy}
      #- https_proxy=${https_proxy}
      #- no_proxy=${no_proxy}
      # Superusuário
      - DJANGO_SUPERUSER_USERNAME=${DJANGO_SUPERUSER_USERNAME}
      - DJANGO_SUPERUSER_EMAIL=${DJANGO_SUPERUSER_EMAIL}
      - DJANGO_SUPERUSER_PASSWORD=${DJANGO_SUPERUSER_PASSWORD}
    depends_on:
      db:
        condition: service_healthy

  nginx:
    image: nginx:1.25-alpine
    restart: always
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - static_volume:/app/staticfiles
      - ./media:/app/media
    ports:
      - "8080:80"
    depends_on:
      - web

volumes:
  postgres_data:
  static_volume: