asgiref
dotenv
pandas
Django
langchain
langchain-openai
langchain-community
pydantic
openai
django-bootstrap-v5
docx2pdf
python-docx
pytz
reportlab
sqlparse
tzdata
openpyxl
psycopg2-binary
django-select2
num2words
pypdf
waitress
whitenoise