{% extends 'Secao_pessoal/base.html' %}

{% block title %}Nome de Guerra{% endblock %}

{% block content %}
<div class="container-fluid px-4">
    <h1 class="mt-4">Nome de Guerra</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Controle / Nome de Guerra</li>
    </ol>
    
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Alteração de Nome de Guerra
        </div>
        <div class="card-body">
            <p>Elyandro é antigão e o H. Cerqueira é viado.</p>
        </div>
    </div>
</div>
{% endblock %}