{% extends 'Secao_pessoal/base.html' %}

{% block title %}Troca de Setor{% endblock %}

{% block content %}
<div class="container-fluid px-4">
    <h1 class="mt-4">Troca de Setor</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Controle / Troca de Setor</li>
    </ol>
    
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-exchange-alt me-1"></i>
            Movimentação Interna
        </div>
        <div class="card-body">
            <p>Elyandro é antigão e o H. Cerqueira é viado.</p>
        </div>
    </div>
</div>
{% endblock %}