{% extends 'base.html' %}

{% block title %}Editar PATD Nº {{ form.instance.numero_patd }}{% endblock %}

{% block content %}
<h1>Editar PATD Nº {{ form.instance.numero_patd }}</h1>
<p>Militar: <strong>{{ form.instance.militar }}</strong></p>

<form method="post" class="model-form">
    {% csrf_token %}
    <div class="form-grid">
        <p>
            <label for="{{ form.transgressao.id_for_label }}">{{ form.transgressao.label }}:</label>
            {{ form.transgressao }}
        </p>
        <p>
            <label for="{{ form.oficial_responsavel.id_for_label }}">{{ form.oficial_responsavel.label }}:</label>
            {{ form.oficial_responsavel }}
        </p>
        <p>
            <label for="{{ form.testemunha1.id_for_label }}">{{ form.testemunha1.label }}:</label>
            {{ form.testemunha1 }}
        </p>
        <p>
            <label for="{{ form.testemunha2.id_for_label }}">{{ form.testemunha2.label }}:</label>
            {{ form.testemunha2 }}
        </p>
        <p>
            <label for="{{ form.data_ocorrencia.id_for_label }}">{{ form.data_ocorrencia.label }}:</label>
            {{ form.data_ocorrencia }}
        </p>

        {# Mostra os campos da apuração apenas se a punição já foi sugerida #}
        {% if form.instance.punicao_sugerida %}
            <hr>
            <h3>Dados da Apuração</h3>
            <p>
                <label for="{{ form.itens_enquadrados_text.id_for_label }}">{{ form.itens_enquadrados_text.label }}:</label>
                {{ form.itens_enquadrados_text }}
                <small>{{ form.itens_enquadrados_text.help_text }}</small>
            </p>
            
            <!-- Campos de Atenuantes e Agravantes -->
            <div class="form-grid" style="grid-template-columns: 1fr 1fr; gap: 20px; margin-top: 15px; margin-bottom: 15px;">
                <p>
                    <label for="{{ form.atenuantes.id_for_label }}">{{ form.atenuantes.label }}:</label>
                    {{ form.atenuantes }}
                    <small>{{ form.atenuantes.help_text }}</small>
                </p>
                <p>
                    <label for="{{ form.agravantes.id_for_label }}">{{ form.agravantes.label }}:</label>
                    {{ form.agravantes }}
                    <small>{{ form.agravantes.help_text }}</small>
                </p>
            </div>

            <p>
                <label for="{{ form.punicao_sugerida.id_for_label }}">{{ form.punicao_sugerida.label }}:</label>
                {{ form.punicao_sugerida }}
            </p>
        {% endif %}
    </div>
    
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Salvar Alterações</button>
        <a href="{% url 'Ouvidoria:patd_detail' form.instance.pk %}" class="btn btn-secondary">Cancelar</a>
    </div>
</form>
{% endblock %}
